<div class="row">
    <div class="col-md-6" id="left-section">
        <div id="nearby-stops">
            <h2>Nearby Stops</h2>
            <button class="btn btn-info" ng-click="vm.getNearbyStops()">Get My Location</button>
            <md-content ng-cloak>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="stopCollection in vm.nearbyStopCollections">
                        <md-tab-label>
                            <h4>
                                <i class="fa" ng-class="{ 'fa-train': stopCollection.routeType == 0, 'fa-subway': stopCollection.routeType == 1, 'fa-bus': stopCollection.routeType == 2 }"></i>
                                {{stopCollection.routeTypeName}}
                            </h4>
                        </md-tab-label>
                        <md-tab-body>
                            <md-content class="md-padding">
                                <div class="list-group">
                                    <div class="list-group-item" ng-repeat="stop in stopCollection.stops">
                                        <h4 ng-click="vm.toogleStopDepartures(stop)">
                                            {{stop.stopName}}  ({{stop.stopDistance | number: 0}}m)
                                            <span class="glyphicon pull-right"
                                                  ng-class="{'glyphicon-chevron-down': !stop.showDepartures, 'glyphicon-chevron-up': stop.showDepartures}"
                                                  aria-hidden="true">
                                            </span>
                                        </h4>
                                        <table class="table table-striped"
                                               ng-show="stop.departures && stop.showDepartures"
                                               st-safe-src="stop.departures"
                                               st-table="stop.displayedDepartures">
                                            <tbody>
                                                <tr ng-repeat="departure in stop.displayedDepartures">
                                                    <td>{{departure.directionName}}</td>
                                                    <td>{{departure.scheduledDepartureUtc | date : "h:mma"}}</td>
                                                    <td>{{departure.scheduledDepartureUtc | timeFromNow}}</td>
                                                    <td><a class="btn btn-default" ng-click="vm.favouriteNearbyDeparture(stop, departure)"><span class="glyphicon glyphicon-star"></span></a></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="4" class="text-center">
                                                        <div st-pagination="" st-items-by-page="4" st-displayed-pages="7"></div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
        <div id="favourite-routes">
            <h2>Favourite Routes</h2>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="favRoute in vm.favouriteRoutes">
                    <h4 ng-click="vm.toogleFavouriteRouteDepartures(favRoute)">
                        <i class="fa" ng-class="{ 'fa-train': favRoute.routeType == 0, 'fa-subway': favRoute.routeType == 1, 'fa-bus': favRoute.routeType == 2 }"></i>
                        {{favRoute.stopName}} - {{favRoute.routeNumber}} {{favRoute.routeName}} 
                        <span class="glyphicon pull-right"
                              ng-class="{'glyphicon-chevron-down': !favRoute.showDepartures, 'glyphicon-chevron-up': favRoute.showDepartures}"
                              aria-hidden="true">
                        </span>
                    </h4>
                    <div ng-show="favRoute.departures && favRoute.showDepartures">
                        <button class="btn btn-info btn-sm route-departures" ng-repeat="departure in favRoute.departures" ng-click="vm.openFavouriteRouteDepartureModal(favRoute, departure)">
                            {{departure.scheduledDepartureUtc | date : "h:mma"}}<br />
                            ({{departure.scheduledDepartureUtc | timeFromNow}})
                        </button>
                        <p class="show-more-btn text-center" ng-click="vm.showMoreFavouriteDepartures(favRoute)">
                            Show More 
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>