<body>
    <header>
        <div ng-include="'angularviews/nav/_nav.html'"></div>
    </header>
    <main class="body-content container">
        <div ui-view></div>
    </main>
    <hr />
    <footer class="container">
        <p>&copy; @DateTime.Now.Year - TransportApp</p>
    </footer>
</body>
