<div class="container body-content" ng-app="TransportApp">
    <div ng-include="'angularviews/nav/_nav.html'"></div>
    <div ui-view></div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>