<h2>Login</h2>
<div ng-show="vm.message" class="alert alert-danger">
    {{vm.message}}
</div>
<form ng-submit="vm.login()">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" required ng-model="vm.loginData.userName">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" required ng-model="vm.loginData.password">
    </div>
    <button type="submit" class="btn btn-info">Login</button>
</form>