<div id="nearby-stops">
    <h2>Nearby Stops</h2>
    <div uib-alert ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)">{{alert.msg}}</div>
    <button class="btn btn-info" ng-click="vm.getNearbyStops()">Get My Location</button>
    <md-content ng-cloak ng-if="vm.nearbyStopCollections">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab ng-repeat="stopCollection in vm.nearbyStopCollections">
                <md-tab-label>
                    <h4>
                        <i class="fa" ng-class="{ 'fa-train': stopCollection.routeType == 0, 'fa-subway': stopCollection.routeType == 1, 'fa-bus': stopCollection.routeType == 2 }"></i>
                        {{stopCollection.routeTypeName}}
                    </h4>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="md-padding">
                        <div class="list-group">
                            <div class="list-group-item" ng-repeat="stop in stopCollection.stops">
                                <h4 ng-click="vm.toogleStopDepartures(stop)">
                                    {{stop.stopName}}  ({{stop.stopDistance | number: 0}}m)
                                    <span class="glyphicon pull-right"
                                          ng-class="{'glyphicon-chevron-down': !stop.showDepartures, 'glyphicon-chevron-up': stop.showDepartures}"
                                          aria-hidden="true">
                                    </span>
                                </h4>
                                <table class="table table-striped"
                                       ng-show="stop.departures && stop.showDepartures"
                                       st-safe-src="stop.departures"
                                       st-table="stop.displayedDepartures">
                                    <tbody>
                                        <tr ng-repeat="departure in stop.displayedDepartures">
                                            <td>{{departure.directionName}}</td>
                                            <td>{{departure.scheduledDepartureUtc | date : "h:mma"}}</td>
                                            <td>{{departure.scheduledDepartureUtc | timeFromNow}}</td>
                                            <td><a class="btn btn-default" ng-click="vm.favouriteNearbyDeparture(stop, departure)"><span class="glyphicon glyphicon-star"></span></a></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4" class="text-center">
                                                <div st-pagination="" st-items-by-page="4" st-displayed-pages="7"></div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>