body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* General*/

[ng-click] {
    cursor: pointer;
}


/* Left Section */

#left-section {
    border: 1px solid #EEEEEE;
    padding: 2%;
}

/* Nearby Stops */

#nearby-stops h4{
    margin-top: 0;
}

#nearby-stops h2{
    margin-top: 5px;
}

#nearby-stops .glyphicon {
    color: #cccccc;
}

#nearby-stops ul.pagination{
    margin: 0;
}

#nearby-stops table {
    margin-bottom: 0;
}
