body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* General*/

[ng-click] {
    cursor: pointer;
}

/* Navigation - loading bar*/

#loading-bar .bar {
    background: #1839bc !important;
}

#loading-bar .peg {
    -moz-box-shadow: #1839bc 1px 0 6px 1px !important;
    -ms-box-shadow: #1839bc 1px 0 6px 1px !important;
    -webkit-box-shadow: #1839bc 1px 0 6px 1px !important;
    box-shadow: #1839bc 1px 0 6px 1px !important;
}


#loading-bar-spinner .spinner-icon {
    border-top-color: #1839bc !important;
    border-left-color: #1839bc !important;
}


/* Left Section */

#left-section {
    border: 1px solid #EEEEEE;
    padding: 2%;
}

/* Nearby Stops */

#nearby-stops h4{
    margin-top: 0;
}

#nearby-stops h2{
    margin-top: 5px;
}

#nearby-stops .glyphicon {
    color: #cccccc;
}

#nearby-stops ul.pagination{
    margin: 0;
}

#nearby-stops table {
    margin-bottom: 0;
}

/* Favourite Routes*/

#favourite-routes .fa {
    margin-right: 20px;
}

#favourite-routes .route-departure {
    width: 90px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#favourite-routes .show-more-btn {
    margin-top: 5px;
}

.favourite-route-name {
    display: table-cell;
    width: 100%;
}

.favourite-route-departures{
    margin-top: 15px;
}

.favourite-route-name .glyphicon {
    margin-right: 15px;
}

.favourite-route-delete {
    width: 50px;
    display: table-cell;
}

/* Favourite Routes Departure Modal*/

#departure-modal #departure-details-table table{
    font-size: 140%;
    width: 60%;
}