<div class="row">
    <div class="col-md-6">
        <div id="nearby-stops">
            <h1>Nearby Stops</h1>
            <button class="btn btn-primary" ng-click="homeVm.getNearbyStops()">Get Nearby Stops</button>
            <div id="nearby-bus-stops">
                <h3>Bus Stops <i class="fa fa-bus"></i></h3>
                <div class="list-group" ng-show="homeVm.nearbyStops.busStops">
                    <div href="#" class="list-group-item" ng-repeat="stop in homeVm.nearbyStops.busStops">
                        <h4>{{stop.stop_name}}</h4>
                        <p ng-click="homeVm.getRoutes(stop)">
                            {{stop.stop_distance | number: 0}}m 
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </p>
                    </div>
                </div>
            </div>
            <hr />
            <div id="nearby-train-stops">
                <h3>Train Stations <i class="fa fa-train"></i></h3>
                <div class="list-group" ng-show="homeVm.nearbyStops.trainStops">
                    <div href="#" class="list-group-item" ng-repeat="stop in homeVm.nearbyStops.trainStops">
                        <h4>{{stop.stop_name}}</h4>
                        <p>
                            {{stop.stop_distance | number: 0}}m
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </p>
                    </div>
                </div>
            </div>
            <hr />
            <div id="nearby-tram-stops">
                <h3>Tram Stations <i class="fa fa-subway"></i></h3>
                <div class="list-group" ng-show="homeVm.nearbyStops.tramStops">
                    <div href="#" class="list-group-item" ng-repeat="stop in homeVm.nearbyStops.tramStops">
                        <h4>{{stop.stop_name}}</h4>
                        <p>
                            {{stop.stop_distance | number: 0}}m
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>