<div class="row">
    <div class="col-md-6">
        <div id="nearby-stops">
            <h2>Nearby Stops</h2>
            <button class="btn btn-primary" ng-click="homeVm.getNearbyStops()">Get My Location</button>
            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab>
                            <md-tab-label>
                                <h4><i class="fa fa-train"></i> Train</h4>
                            </md-tab-label>
                            <md-tab-body>
                                <md-content class="md-padding">
                                    <div class="list-group" ng-show="homeVm.nearbyStops.trainStops">
                                        <div href="#" class="list-group-item" ng-repeat="stop in homeVm.nearbyStops.trainStops">
                                            <h4>{{stop.stopName}}</h4>
                                            <p ng-click="homeVm.toogleStopDepartures(stop)">
                                                {{stop.stopDistance | number: 0}}m
                                                <span class="glyphicon" 
                                                      ng-class="{'glyphicon-chevron-down': !stop.showDepartures, 'glyphicon-chevron-up': stop.showDepartures}" 
                                                      aria-hidden="true">
                                                </span>
                                            </p>
                                            <p ng-repeat="departure in stop.departures" ng-show="stop.showDepartures">
                                                <b>{{departure.directionName}}</b>
                                                {{departure.scheduledDepartureUtc | date : "HH:mma"}}
                                            </p>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>
                                <h4><i class="fa fa-bus"></i> Bus</h4>
                            </md-tab-label>
                            <md-tab-body>
                                <md-content class="md-padding">
                                    <div class="list-group" ng-show="homeVm.nearbyStops.busStops">
                                        <div href="#" class="list-group-item" ng-repeat="stop in homeVm.nearbyStops.busStops">
                                            <h4>{{stop.stopName}}</h4>
                                            <p ng-click="homeVm.getRoutes(stop)">
                                                {{stop.stopDistance | number: 0}}m
                                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                            </p>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label>
                                <h4><i class="fa fa-subway"></i> Tram</h4>
                            </md-tab-label>
                            <md-tab-body>
                                <md-content class="md-padding">
                                    <div class="list-group" ng-show="homeVm.nearbyStops.tramStops">
                                        <div href="#" class="list-group-item" ng-repeat="stop in homeVm.nearbyStops.tramStops">
                                            <h4>{{stop.stopName}}</h4>
                                            <p>
                                                {{stop.stopDistance | number: 0}}m
                                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                            </p>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
</div>